/* ===== ALL ===== */

.fill {
	height: 100vh;
	max-height: auto;
}

.full {
	flex-basis: 100%;
}

.scroll {
	overflow-y: auto;
}

.vertical-center {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}

.half-height {
	display: flex;
	align-items: center;
}

.variation-text{
	margin-top: 20%;
	font-size: 1.5em;
}

.toggled-off {
	opacity: 50%;
}

.img-thumbnail {
	border-color: black;
	border-width: 2px;
	border-style: solid;
}

.btn-primary{
	background-color: #A31010;
	border-color: #A31010;
}

.btn-primary:hover {
	background-color: #890C0C;
	border-color: #890C0C;
}

.unloaded {
	display: none;
}

.badge-primary {
	background-color: #A31010;
	padding: 5px;
}

.tag-container {
	background-color: #EEEEEE;
	border-radius: 10px;
	margin: 20px 0 15px 0;
	padding: 10px 0;	
}
.tag-container .badge-primary:hover {
	background-color: #890C0C;
	padding: 5px;
	cursor: pointer;
}

.tag-container .row {
	padding: 5px;
}

.error-text {
	color: #A31010;
	font-size: 0.9em;
}

.privacy-text {
	margin-top: 10px;
}

/* ===== ALL ===== */

/* ===== HEADER ===== */

header #headerBg {
	background-color: black;
}

header #logoWhite {
	max-width: 150px;
	margin-top: 5px;
}

header .navbar {
	background-color: black;
}

header .nav-item {
	border-bottom: 3px solid black;
}

header .nav-item:hover {
	border-bottom: 3px solid white;
}

header .active.nav-item{
	border-bottom: 3px solid white;
}

header .nav-link {
	color: #949494;
}

header .nav-link:hover {
	color: white;
}

header .active.nav-link {
	color: white;
}

/* ===== HEADER ===== */

/* ===== LOGIN ===== */

#login .card {
	max-width: 30%;
	min-width: 400px;
	border-radius: 10px;
}

#login .card-title {
	text-align: center;
}

#login .btn-dark {
	padding-left: 20%;
	padding-right: 20%;
}

#login .container > img{
	margin: 5% 0% 5% 0%;
}

/* ===== LOGIN ===== */

/* ===== SIGNUP ===== */

#signup .card {
	max-width: 30%;
	min-width: 400px;
	border-radius: 10px;
}

#signup .card-title {
	text-align: center;
}

#signup .btn-dark {
	padding-left: 20%;
	padding-right: 20%;
}

#signup .container > img{
	margin: 5% 0% 5% 0%;
}

/* ===== SIGNUP ===== */



/* ===== MAIN ===== */

#main #sidebar {
	border-width: 0 0 0 3px;
	border-style: solid;
	border-color: black;
}

#main .card {
	margin-top: 5px;
 	border-color: #A31010;
 	cursor: pointer;
}

#main img {
	width: 100%;
}

#main #btRandomize {
	min-width: 75%;
	font-size: 1.5em;
}

#main #randomizer .container-fluid {
	margin-top: 5%;
}

#main .card:hover {
	color: #A31010;
}

#main .current-set-title {
	margin-bottom: 30px;
}

/* ===== MAIN ===== */

/* ===== SETTINGS ===== */

#settings .col.img-thumbnail {
	margin: 5px 1px;
	padding: 0;
	display: flex;
	align-items: center;
}

#settings .col.img-thumbnail:hover {
	border-color: #A31010;
}

#settings .col .img-fluid:hover{
	cursor: pointer;
}

#settings .col .img-fluid.toggled-off:hover{
	opacity: 80%;
}

#settings .section-title {
	margin: 5% 0;
}

#settings #saveForm {
	margin-bottom: 10px;
}

#settings #saveSet {
	min-width: 50%;
}

#settings .form-check {
	margin-bottom: 20px;
}

#settings .error-text {
	margin-top: 10px;
	font-size: 1em;
}

/* ===== SETTINGS ===== */

/* ===== PROFILE ===== */
#profile #profileContainer {
	width: 90%;
	margin-top: 5%;
	margin-bottom: 20px;
	padding: 10px 20px;
	border-radius: 10px;
}

#profile #profileContainer button {
	margin-top: 10px;
	min-width: 25%
}


#profile #profileContainer .col {
	width: 30%;
}


#profile .card-footer {
	display: flex;
	justify-content: space-between;
}


#profile .card-footer img {
	max-width: 30px;
	vertical-align: bottom;
}

#profile .download-number {
	color: #999999;
	vertical-align: bottom;
}

#profile .card-footer button {
	font-size: 1em;
	padding: 3px;
	margin: 0;
}

#profile .card {
	margin-top: 10px;
}

#profile .badge-primary {
	margin-right: 10px;
}

#profile .set-buttons button {
	margin: 0 10px;
	padding: 5px 20px;
}
/* ===== PROFILE ===== */

/* ===== SEARCH ===== */

#search #searchContainer {
	width: 70%;
	margin-top: 5%;
	margin-bottom: 20px;
	padding: 10px 20px;
	border-radius: 10px;
}

#search .input-group-text{
	color: white;
	min-width: 110px;
}

#search #searchContainer button {
	margin-top: 10px;
	min-width: 25%
}

#search #searchContainer .col {
	width: 30%;
}


#search .card-footer {
	display: flex;
	justify-content: space-between;
}


#search .card-footer img {
	max-width: 30px;
	vertical-align: bottom;
}

#search .download-number {
	color: #999999;
	vertical-align: bottom;
}

#search .card-footer button {
	font-size: 1em;
	padding: 3px;
	margin: 0;
}

#search .card {
	margin-top: 10px;
}
/* ===== SEARCH ===== */

/* ===== METRICS ===== */
/* ===== METRICS ===== */

/* ===== MEDIA QUERIES ===== */

@media (max-width: 600px) {
	/* ===== SEARCH ===== */
	#search .badge-primary {
		font-size: 0.6em;
	}
	/* ===== SEARCH ===== */
}

@media (min-width: 768px) {
	/* ===== ALL ===== */
	.variation-text{
		font-size: 2em;
	}

	.grid-div {
		max-width: 90%;
	}
	/* ===== ALL ===== */

	/* ===== SETTINGS ===== */

	#settings .section-title {
		font-size: 10em;
	}

	/* ===== SETTINGS ===== */

	/* ===== SEARCH ===== */

	#search .badge-primary {
		font-size: 0.8em;
	}

	/* ===== SEARCH ===== */
}

@media (min-width: 992px) {
	/* ===== ALL ===== */
    .variation-text{
		font-size: 2.5em;
	}
	/* ===== ALL ===== */

	/* ===== SETTINGS ===== */

	#settings .section-title h2{
		font-size: 0.4em;
	}

	/* ===== SETTINGS ===== */

	/* ===== SEARCH ===== */

	#search .badge-primary {
		font-size: 0.9em;
	}

	/* ===== SEARCH ===== */
}

/* ===== MEDIA QUERIES ===== */